body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./image/iloveu.jpeg') center / cover no-repeat fixed;
    /* font: 1em/1.618 Inter, sana-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

h3{
    text-transform: uppercase;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: 280px;
    padding: 35px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    /* background-color: lightgray; */
    box-shadow: 0 0 10px 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.button{
    display: flex;
    margin-top: 30px;
}
input[type="submit"]{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 100px;
}

#no{
    background-color: rgb(254, 65, 65);
    color: white;
}

#yes{
    background-color: rgb(78, 254, 65);
    color: white;
}

@media screen and(max-width: 500px) {
    form{
        width: 50%;
        margin: 100px auto;
    }
}